#__pygwt_historyFrame {
  position: absolute;
}

body {
  margin: 0px;
  font-family: sans-serif;
}

.gwt-MenuBar {
  background-color: #EEEEFF;
  border: 1px solid #AAAAAA;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
/*  font-size: smaller;*/
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #CCCCFF;
}

.grid {
  border-collapse: collapse;
  border: 1px solid #AAAAAA;
}

.grid-header {
  background-color: #EEEEFF;
  border: 1px solid #AAAAAA;
  text-align: center;
  font-weight: bold;
}

.grid td {
  border: 1px solid #AAAAAA;
}

.pseudo-link {
  cursor: pointer;
}

div.pseudo-link:hover { 
  text-decoration: underline;
   }
